@mixin style() {
	header div {
		font-size: 500%;
	}
	#left_section {
		padding-right: 2%;
		width: 63%;
		text-align: justify;
	}
	#right_section {
		width: 34%;
	}
	nav a {
		margin: 5px 10px;
		padding: 5px 0px;
		width: 80px;
	}
	.fp-thumbnail {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.pub_section.pub_mobile_only {
		display: none;
	}
}