#challenges_section {
	height: 180px;
	border: groove 2px #080;
	margin-bottom: 10px;
}
#challenges_section a {
	display: block;
	border-top: solid 1px black;
	text-decoration: none;
}
#challenges_section a:nth-child(2n) {
	background-color: #DDF;
}
#challenges_section a:nth-child(2n):hover {
	background-color: #F8F8FF;
}
#challenges_section a:nth-child(2n+1) {
	background-color: #EEF;
}
#challenges_section a:nth-child(2n+1):hover {
	background-color: #FFF;
}
#challenges_section a.challenges_section_succeeded:nth-child(2n) {
	background-color: #DFD;
}
#challenges_section a.challenges_section_succeeded:nth-child(2n):hover {
	background-color: #F8FFF8;
}
#challenges_section a.challenges_section_succeeded:nth-child(2n+1) {
	background-color: #EFE;
}
#challenges_section a.challenges_section_succeeded:nth-child(2n+1):hover {
	background-color: #FFF;
}
#challenges_section a:nth-child(1) {
	border-top: none;
}
#challenges_section h2 {
	font-size: 0.8em !important;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	margin: 0;
	padding: 2px 0px 1px 3px;
	color: #00A;
}
#challenges_section h3 {
	font-weight: normal;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	color: #889;
	padding: 0px 0px 2px 5px;
}