
body {
	background: url("../images/fond_winter.png");
	background-repeat: repeat;
	background-position: center;
}
#header_center img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}