
body {
	background: url("../images/fond_winter.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
#header_center img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}