#comments-section {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 250px;
	overflow: hidden;
	border-left: solid 1px white;
	border-bottom: solid 1px white;
	border-bottom-left-radius: 10px;
	font-weight: normal;
	padding-bottom: 8px;
}
#comments-infos {
	position: relative;
}
#comments-closectn {
	position: absolute;
	right: 1px;
	top: 1px;
	visibility: hidden;
}
#comments-closectn a {
    font-weight: bold;
    display: none;
    padding: 1px 2px 0 2px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 12px;
}
#comments-infos:hover #comments-closectn {
	visibility: visible;
}
#comments-closectn a:hover {
    color: white;
}
#comments-close {
    background-color: #C00;
}
#comments-close:hover {
    background-color: #E00;
}
#comments-open {
    background-color: #080;
}
#comments-open:hover {
    background-color: #0A0;
}
#comments-section:not(.comments-closed) #comments-close {
    display: block;
}
#comments-section.comments-closed #comments-open {
    display: block;
}
#comments-section.comments-closed {
	border: none;
}
#comments-section.comments-closed > * {
	visibility: hidden;
}
#comments-section.comments-closed > #comments-infos {
	visibility: visible;
}
#comments-section.comments-closed > #comments-infos > * {
	visibility: hidden;
}
#comments-section.comments-closed > #comments-infos > #comments-closectn {
	visibility: visible;
}
@media screen and (max-width: 600px) {
	#comments-section {
		top: 100%;
		z-index: 20000;
		background-color: black;
		width: 100%;
		border-top: solid 1px white;
		border-right: solid 1px white;
		margin-top: 80px;
		padding-bottom: 80px;
	}
	#comments-section.comments-closed {
		border-top: solid 1px white;
	}
	div#connect, div#coliste, div.comsg, div#chatsctn {
		z-index: 20000;
	}
	div#message-reactions {
		z-index: 20001;
	}
	div#message-reactions-details {
		z-index: 20001;
	}
}
#comments-section h1 {
	margin: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Courier;
}
#comments-scroller {
	overflow-y: auto;
}
#comments {
	font-size: 0.8em;
	border-top: solid 1px white;
}
#comments-none {
	padding: 5px 10px;
	color: white;
	font-size: 0.8em;
	text-align: center;
	border-top: solid 1px white;
}
#comment-connect {
	font-size: 1.3em;
	text-align: center;
	color: white;
	border-bottom: solid 1px white;
	padding: 4px 0px;
}
#comment-connect a {
	color: #9CF;
}
#comment-connect a:hover {
	color: #CEF;
}
.comment-header a {
	color: #FA0;
	text-decoration: none;
	font-weight: bold;
}
.comment-header a:hover {
	color: #FD0;
}
.comment-container {
	padding: 10px 10px;
	border-bottom: solid 1px white;
}
.comment-options input {
	font-weight: normal;
	border-radius: 5px;
	font-size: 0.9em;
	margin-left: 2px;
}
.comment-options {
	text-align: right;
	margin-top: 3px;
}
.comment-options img {
	height: 18px;
	cursor: pointer;
	margin-left: 4px;
	margin-right: 1px;
	opacity: 0.85;
}
.comment-options img:hover {
	opacity: 1;
}
.comment-options .comment-edit {
	color: #CF0;
	background-color: #040;
}
.comment-options .comment-edit:hover {
	background-color: #030;
}
.comment-posting {
	display: flex;
	justify-content: flex-end;
}
.comment-options .comment-send {
	color: #CF0;
	background-color: #040;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.comment-options .comment-send:hover {
	background-color: #030;
}
.comment-options .comment-suppr {
	color: #F84;
	background-color: #400;
}
.comment-options .comment-suppr:hover {
	background-color: #300;
}
.comment-options .comment-undo {
	color: #F84;
	background-color: #400;
}
.comment-options .comment-undo:hover {
	background-color: #300;
}
.comment-message {
	padding: 2px 4px;
	font-family: Courier;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
.comment-value {
	word-wrap: break-word;
}
.comment-message textarea {
	width: 100%;
	background-color: gray;
	color: white;
}
.comment-message textarea:focus {
	background-color: #666;
}
.comment-message textarea::-webkit-input-placeholder {
   color: #CCC;
}
.comment-message textarea:-moz-placeholder {
   color: #CCC;  
}
.comment-message textarea::-moz-placeholder {
   color: #CCC;  
}
.comment-message textarea:-ms-input-placeholder {  
   color: #CCC;  
}
.comment-container:nth-child(2n) {
	background-color: #090909;
}
.comment-container:nth-child(2n+1) {
	background-color: black;
}
.comment-container:nth-child(2n) .comment-message {
	background-color: #222;
	color: #DDD;
}
.comment-container:nth-child(2n+1) .comment-message {
	background-color: #191919;
	color: #CCC;
}
.comment-new .comment-posted, .comment-sent .comment-posting {
	display: none;
}
.comment-posted a {
	color: #69F;
}
.comment-posted a:hover {
	color: #7BF;
}
#comments-infos h2 {
	text-align: center;
	margin: 0px;
	padding: 0px 6px;
	border-bottom: solid 1px #CCC;
	font-family: Courier;
	font-size: 20px;
	word-wrap: break-word;
    max-height: 50px;
    overflow-y: auto;
}
#comments-infos table {
	width: 100%;
	border-bottom: solid 1px white;
}
#comments-infos table td {
	vertical-align: middle;
}
#comments-circuitauthor {
	font-size: 12px;
	width: 100px;
	border-right: solid 1px white;
}
#comments-circuitauthor a {
	color: #9CF;
}
#comments-circuitauthor a:hover {
	color: #CEF;
}
#comments-circuitauthor div {
	text-align: center;
	width: 100px;
	overflow: hidden;
	padding-left: 2px;
	padding-right: 2px;
	color: white;
}
#comments-circuitstar {
	text-align: right;
}
#comments-circuitnote {
	text-align: left;
	font-size: 12px;
}
#comments-circuitstar, #comments-circuittime {
	text-align: right;
}
#comments-circuitstar img, #comments-circuittime img {
	height: 12px;
	margin-right: 2px;
}
#comments-circuitdate {
	color: white;
	font-size: 12px;
}
#comments-circuitnote, #comments-circuitdate {
	line-height: 1px;
}
#comments-circuitstar {
	padding-top: 1px;
}
#comments-circuitnote {
	padding-top: 4px;
}
#comments-circuittime {
	padding-bottom: 2px;
}
#comments-circuitdate {
	padding-bottom: 1px;
}

#message-reactions {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#message-reactions-details {
	display: flex;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 1;
	background-color: #18191C;
	background-color: rgba(48,50,64, 0.8);
	color: white;
	align-items: center;
	border-radius: 5px;
	word-wrap: break-word;
}
#message-reactions-details.show {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s ease-in;
}
#message-reactions-details > img {
	width: 48px;
	max-height: 60px;
	margin: 5px;
}
#message-reactions-details > div {
	padding: 5px;
	width: 150px;
	font-size: 0.8em;
	max-width: 90vw;
	max-width: calc(100vw - 80px);
}
.message-reactions-dialog {
	position: absolute;
	width: 400px;
	max-width: 90vw;
	background-color: #556;
	background-color: rgba(76,76,86, 0.9);
    border: solid 1px #BBC;
}
.message-reactions-title {
	position: relative;
}
.message-reactions-title h3 {
	flex: 1;
	margin: 3px 0 5px 5px;
	color: #BBC;
}
.message-reactions-title a {
	position: absolute;
	right: 1px;
	top: 1px;
	font-weight: bold;
	margin-right: 2px;
    display: block;
    padding: 0 4px;
    background-color: #C00;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
	line-height: 20px;
}
.message-reactions-title a:hover {
    background-color: #E00;
	color: white;
}
.message-reactions-cat > div {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
	padding-left: 5px;
}
.message-reactions-cat > div:first-child {
	margin-top: 0;
}
.message-reactions-cat > div:last-child {
	margin-bottom: 5px;
}
.message-reactions-cat a {
	height: 30px;
	display: inline-flex;
	margin: 0;
	padding: 2px 4px;
	border-radius: 5px;
}
.message-reactions-cat a:hover {
	background-color: #7474ab;
}
.message-reactions-cat img {
	width: 24px;
	object-fit: contain;
}
.comment-reactions {
	margin: 2px 0 -2px 0px;
	display: flex;
	flex-wrap: wrap;
}
.comment-reactions:empty {
	margin-bottom: 0;
}
.comment-reactions > div {
	display: inline-flex;
	margin: 2px;
	padding: 0 5px;
	border-radius: 4px;
	height: 19px;
	align-items: center;
	font-size: 12px;
	user-select: none;
}
.comment-reactions > div:not([data-disabled]) {
	cursor: pointer;
}
.comment-reactions > div {
	background-color: #2F3136;
	border: solid 1px transparent;
}
.comment-reactions > div:not([data-disabled]):hover {
	background-color: #36393F;
	border-color: #5E6165;
}
.comment-reactions > div[data-checked] {
	background-color: #3B405A;
	border-color: #5865F2;
}
.comment-reactions > div[data-checked]:hover {
	background-color: #383C50;
	border-color: #4F59C2;
}
.comment-reactions > div.mReactionAdd {
	background: none;
	opacity: 0.8;
	padding: 0;
}
.comment-reactions > div.mReactionAdd:hover {
	background: none;
	border-color: transparent;
	opacity: 1;
}
.comment-reactions > div img {
	width: 14px;
	max-height: 16px;
	object-fit: contain;
}
.comment-reactions > div span {
	display: inline-block;
	margin-left: 2px;
	color: #CCC;
	position: relative;
	top: 1px;
}
#comments-description {
	border-bottom: solid 1px white;
	font-size: 11px;
}
#comments-description-content {
	padding: 4px 6px;
	color: #DFE;
}
#comments-description-content-value {
	margin-top: 2px;
	font-family: Courier;
	word-wrap: break-word;
}
#comments-description-edit textarea {
	height: 56px;
}
#comments-description-edit-actions {
	display: flex;
	justify-content: flex-end;
	font-size: 0.8em;
	margin-top: 5px;
	margin-bottom: 2px;
}
#comments-description-edit, #comments-description-content-actions, .comments-description-music {
	display: none;
}
#comments-description-content-value .comment-desc-ic {
	height: 10px;
	margin-right: 4px;
	margin-left: 2px;
	position: relative;
	top: 1px;
    image-rendering: pixelated;
}
#comments-description-content-value .comment-desc-scroller {
	line-height: 13px;
}
#comments-description-content-value:not(.comment-expanded) .comment-desc-scroller {
	max-height: 66px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
}
#comments-description-content-value:not(.comment-expanded) .comment-expand-less {
	display: none;
}
#comments-description-content-value.comment-expanded .comment-expand-more {
	display: none;
}
#comments-description-content-value .comment-expand {
	margin: 1px 0;
	font-size: 11px;
}
#comments-description-content-value .comment-expand > div {
	display: inline-block;
	color: #9CF;
	cursor: pointer;
}
#comments-description-content-value .comment-expand > div:hover {
	color: #9CF;
	color: #CEF;
	text-decoration: underline;
}
#comments-description-content-edit {
	text-align: right;
	margin-top: 2px;
	margin-bottom: 3px;
}
#comments-description-content-edit img {
	height: 18px;
	cursor: pointer;
	margin-left: 5px;
	opacity: 0.85;
}
#comments-description-content-edit img:hover {
	opacity: 1;
}
#comments-description-content-add {
	margin-top: 2px;
	margin-bottom: 4px;
}
#comments-description-content-add > img {
	height: 10px;
	image-rendering: pixelated;
	margin-left: 1px;
	margin-right: 4px;
	position: relative;
	top: 1px;
}
#comments-description-content-add > span {
	color: #9CF;
	cursor: pointer;
}
#comments-description-content-add > span:hover {
	color: #CEF;
	text-decoration: underline;
}
.comments-description-music {
	align-items: center;
	margin-left: 6px;
	margin-bottom: 1px;
	position: relative;
	bottom: 3px;
	font-size: 13px;
}
.comments-description-music-ic {
	height: 10px;
	margin-right: 4px;
}
.comments-description-music-label {
	color: white;
	margin-right: 4px;
	display: inline-block;
}
.comments-description-music a {
	color: #9CF;
	text-decoration: none;
}
.comments-description-music a:hover {
	color: #CEF;
	text-decoration: underline;
}