body {
	background-image: url('../images/editor/fond_arene_dark.jpg');
}
body.theme-dark {
	background-image: url('../images/editor/fond_arene.jpg');
}
label#respawn-type-container {
	display: none;
}