body {
	text-align: center;
	font-size: 1.2em;
	font-family: Helvetica, arial, sans-serif;
	margin: 0;
}
.container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url('../images/editor/fond_stars.jpg');
}
.simplified {
	color: white;
	background-color: #030316;
}
.complete {
	background-image: url('../images/editor/fond_circuit_dark.jpg');
	background-color: #31549A;
}
.editor-section {
	max-width: 600px;
	padding: 10px;
	margin: 10px auto;
	border-radius: 8px;
}
.simplified .editor-section {
	background-color: rgba(76,70,94, 0.5);
}
.complete .editor-section {
	background-color: rgba(156,181,207, 0.85);
}
.simplified a {
	color: #CCF;
}
.complete a {
	color: #049;
}
.complete a:hover {
	color: #05B;
}
h1 {
	color: #b4c4e8;
	margin-top: 20px;
	margin-bottom: 5px;
}
h2 {
	color: #c5d0eb;
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 1.2em;
}
#cup-appearance-page {
	color: white;
	font-size: 1rem;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2em;
	text-align: right;
}
.cup-appearance-page-buttons {
	display: inline-flex;
	gap: 0.25em;
}
.cup-appearance-page-buttons button {
	background-color: #58c;
	border-color: #48A;
	color: white;
}
.cup-appearance-page-buttons button:hover {
	background-color: #669FD9;
	border-color: #59B;
}
.cup-appearance-page-buttons button:disabled {
    background-color: #48b;
	opacity: 0.5;
}
#option-containers h2 a {
	color: #77B;
	font-size: 0.8em;
	position: relative;
	top: -0.1em;
}
#option-containers h2 a:hover {
	color: #AAD;
}
.complete #option-containers h2 a {
	color: #9AD;
}
.complete #option-containers h2 a:hover {
	color: #89B;
}
.simplified #global-infos {
	color: #CCF;
}
.complete #global-infos {
	color: black;
}
#no-circuit {
	display: block;
	margin-bottom: 16px;
	font-size: 1.1rem;
	padding: 5px;
}
.simplified #no-circuit {
	color: #F86;
}
.complete #no-circuit {
	color: #a33;
}
#table-container {
	width: 700px;
	max-width: 90%;
    max-height: 380px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
    overflow-y: scroll;
}
#table-circuits {
	width: 100%;
	background-color: #EEF;
	color: black;
    text-align: center;
    empty-cells: show;
    border-collapse: collapse;
}
#table-circuits .td-access, #table-circuits a {
	color: #049;
}
#table-circuits a:hover {
	color: #05B;
}
#table-circuits .td-access {
	width: 100px;
	padding-right: 10px;
}
#table-circuits .td-name {
	position: relative;
	padding-left: 12px;
	padding-right: 12px;
}
#table-circuits .td-name em {
	position: absolute;
	left: 3px;
	top: 1px;
	font-size: 0.75em;
	opacity: 0.4;
}
#table-circuits tr {
	cursor: pointer;
}
#table-circuits tr:hover {
	background-color: #DDF;
}
#table-circuits tr.selected {
	background-color: #BBF;
}
#table-circuits td {
	border: solid 1px black;
}
#table-circuits .td-preview {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: zoom-in;
	width: 40px;
	height: 40px;
	font-size: 22px;
	color: white;
	text-shadow: 2px 0 0 #063, -2px 0 0 #063, 0 2px 0 #063, 0 -2px 0 #063, 1px 1px #063, -1px -1px 0 #063, 1px -1px 0 #063, -1px 1px 0 #063;
}
#table-circuits .td-preview.td-preview-cup {
	background-position: top left, top right, bottom left, bottom right;
	background-size: 50% 50%;
	background-size: calc(50% + 1px) calc(50% + 1px);
}
#collab-container {
	color: white;
	margin-top: 0.5em;
}
#collab-container a {
	color: #CCF;
}
#collab-popup:not([data-state]) {
	display: none;
}
#collab-popup[data-state="loading"] .collab-popup {
	display: block;
}
#collab-popup form {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 0.9em;
	display: flex;
	gap: 0.1em;
}
#collab-popup form input[type="url"] {
	font-size: 1em;
	flex: 1;
}
#collab-popup form input[type="submit"] {
    background-color: #69C;
    color: white;
    border-color: #48A;
	cursor: pointer;
	border-radius: 0.25em;
}
.submit-selection {
	width: 200px;
	font-size: 1.5em;
	font-weight: bold;
}
.submit-selection {
    cursor: pointer;
    border-width: 3px;
}
.submit-selection:disabled {
	cursor: default;
}
.complete .submit-selection {
    background-color: #58c;
    border-color: #48A;
    color: white;
}
.complete .submit-selection:hover {
	background-color: #669FD9;
	border-color: #59B;
}
.complete .submit-selection:disabled {
    background-color: #48b;
	opacity: 0.5;
}
.simplified .submit-selection {
    background-color: #249;
    border-color: #57c;
    color: #abf;
}
.simplified .submit-selection:hover {
	background-color: #26a;
	border-color: #59B;
}
.simplified .submit-selection:disabled {
    background-color: #35a;
	opacity: 0.4;
}
.editor-navigation a {
	display: block;
}
.editor-navigation {
	margin: 8px 0 15px 0;
	padding-left: 0;
	color: #CCF;
	display: inline-block;
    border-radius: 8px;
}
@media screen and (max-width: 600px) {
	.editor-navigation {
		margin-bottom: 80px;
	}
}
.editor-navigation a {
	display: block;
	background-color: rgba(255,255,255, 0.8);
	color: black;
	padding: 6px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
	text-decoration: none;
	text-align: left;
}
.editor-navigation a:hover {
	background-color: #999;
	color: black;
}
.editor-navigation a:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.editor-navigation a:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.editor-navigation a u {
	display: inline-block;
	margin-left: 0.15em;
}
.editor-switch-options, .complete .editor-switch-options, .complete .editor-switch-options:hover {
	position: relative;
	top: -0.2em;
	margin-left: 10px;
	margin-right: 10px;
	color: #CCF;
	line-height: 2em;
}
.editor-content:not(.editor-content-active) {
	display: none;
}
#option-tabs {
	border: solid 1px black;
	border-radius: 5px;
	display: inline-block;
	overflow: hidden;
}
#option-tabs > div {
	cursor: pointer;
	background-color: #999;
	color: #444;
	display: inline-block;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
}
#option-tabs > div:hover {
	background-color: rgba(255,255,255, 0.8);
}
#option-tabs > div.option-tab-selected {
	background-color: white;
	cursor: default;
	color: black;
}
#option-containers > div {
	display: none;
}
#option-containers > div.option-container-selected {
	display: block;
}
.character-roster-extra {
	color: white;
	font-size: 1rem;
	margin-top: 0.2em;
}
.character-roster-extra a {
	color: #c5d0eb;
	text-decoration: none;
}
.character-roster-extra a:hover {
	color: #9AD;
}
#cup-appearance img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 2px 2px;
	padding: 3px 5px;
}
.cup-appearance-cursor {
	display: inline-block;
	position: relative;
	top: -5px;
	cursor: pointer;
	padding: 0 5px;
}
.cup-appearance-cursor div {
	width: 5px;
	height: 48px;
	background-color: #336;
	background-color: rgba(153,153,255, 0.3);
}
.complete .cup-appearance-cursor div {
	background-color: #578;
	background-color: rgba(153,192,255, 0.3);
}
.cup-appearance-cursor:hover div {
	background-color: #CCF;
}
.editing-cup-cursor div, .complete .editing-cup-cursor div {
	background-color: #CCF;
}
#cup-appearance img:hover {
	background-color: rgb(96, 96, 169);
	background-color: rgba(153,153,204, 0.6);
}
.editing-cup-img {
	background-color: rgb(96, 96, 169);
	background-color: rgba(153,153,204, 0.8);
}
#character-roster {
	margin-left: auto;
	margin-right: auto;
	max-width: 320px;
	text-align: left;
}
.character-tile {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 2px 2px;
}
.character-tile:hover {
	background-color: rgba(153,153,204, 0.6);
}
.character-tile > a {
	display: none;
	position: absolute;
	z-index: 1;
	right: -2px;
	top: -2px;
	text-decoration: none;
	font-size: 0.8em;
    line-height: 0.5em;
    width: 0.6em;
    height: 0.6em;
    padding: 0.1em;
    border-radius: 0.4em;
	color: #dcc;
	background-color: #633;
}
.character-tile:hover > a {
	display: block;
}
.character-tile > a:hover {
	color: #fff;
    background-color: #300;
}
.character-tile > div {
	position: relative;
	margin: 2px 2px;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.character-tile > div > img {
	position: absolute;
	width: 768px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: -192px;
}
.character-tile > div > span {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 1.5em;
	line-height: 1.5em;
	color: #CCF;
}
#perso-info {
	position: relative;
	display: none;
}
#perso-info > div {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1px;
	background-color: white;
	background-color: rgba(255,255,255, 0.9);
	padding: 0.1em 0.5em;
}
.perso-info-share {
	font-size: 0.8em;
	display: none;
}
#perso-info-shared {
	color: green;
}
#perso-info-unshared {
	color: #a25f13;
}
.perso-selection-choices > div {
	display: inline-block;
	cursor: pointer;
	margin: 2px 2px;
}
.perso-selection-choices > div:hover {
	background-color: rgb(136, 153, 204);
}
.perso-selection-choices > div > div {
	position: relative;
	margin: 2px 2px;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.perso-selection-choices > div > div > img {
	position: absolute;
	left: 0;
	top: 0;
	height: 32px;
}
#perso-selection-standard-choices > div > div > img {
	width: 768px;
}
#perso-selection-custom-choices > div > div > img {
	width: 32px;
}
#perso-selection-custom-choices {
	max-height: 108px;
	overflow-y: auto;
}
.perso-selection-custom-explain {
	font-size: 0.7em;
}
.editor-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.editor-mask-dark {
	background-color: rgba(0,0,0, 0.5);
}
.editor-mask-content {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 10px 10px;
	width: 425px;
	max-width: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-color: #AAC;
	border-radius: 5px;
	opacity: 0.8;
}
.editor-mask-content:hover {
	opacity: 1;
}
.editor-mask-content h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.editor-mask-content h4 {
	margin-top: 2px;
	margin-bottom: 2px;
}
.editor-mask-content h2 {
	color: black;
}
#cup-selection-choices img {
	height: 50px;
	cursor: pointer;
	margin: 0px 5px;
	padding: 5px 5px;
}
#cup-selection-choices img:hover {
	background-color: rgb(136, 153, 204);
}
#cup-selection-custom {
	margin-top: 8px;
	padding-top: 10px;
	border-top: solid 1px #336;
	font-size: 0.7em;
}
#cup-selection-custom input[type="submit"] {
    background-color: #57c;
    border-color: #57c;
	color: #ccf;
	margin-left: 1px;
}
#cup-selection-custom input[type="submit"]:hover {
	background-color: #46b;
	border-color: #46b;
	cursor: pointer;
}
.editor-mask-contextmenu {
	position: absolute;
	background-color: #CCF;
	text-align: left;
}
.editor-mask-contextmenu div {
	border: solid 1px #336;
	color: #669;
	font-size: 0.8em;
	padding: 0.1em 0.3em;
	cursor: pointer;
	white-space: nowrap;
}
.editor-mask-contextmenu div:hover {
	background-color: #AAD;
	color: #115;
}
.editor-mask-contextmenu div strong {
	color: #336;
}
.pretty-title-ctn {
	display: inline-block;
}
.pretty-title[disabled] {
	pointer-events: none;
}
.fancy-title {
	position: absolute;
	background-color: #336;
	background-color: rgba(40,40,80, 0.9);
	color: #CCF;
	padding: 2px 5px;
	display: none;
	border-radius: 5px;
}