body {
	background-image: url('../images/editor/fond_circuit_dark.jpg');
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	font-family: Helvetica, arial, sans-serif;
	text-align: center;
    font-size: 1.2em;
}
h1, h2, h3 {
    margin: 5px auto;
}
h2 {
    margin-top: 10px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, -1px -1px black, -1px 1px black, 1px -1px black, 1px 1px black;
}
.decors-list-container {
    border-radius: 6px;
    background-color: rgba(156,181,207, 0.85);
    max-width: 550px;
    padding: 10px 20px;
    margin: 10px auto;
}
.decors-list-empty {
    font-style: italic;
    margin-bottom: 5px;
}
.decors-list-more {
    position: relative;
    top: -0.1em;
}
.decors-list {
    margin-bottom: 4px;
}
.decors-list > div {
    padding: 5px 10px;
    max-width: 42px;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
}
.decors-list > div:hover {
    background-color: #86a9e6;
}
.decors-list > div > img {
    height: 32px;
    align-self: center;
}
#decor-actions {
    font-size: 1.2em;
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	padding: 5px;
    background-color: #93b8f9;
}
#decor-actions button {
	font-size: 0.7em;
	padding: 3px 8px;
	cursor: pointer;
	margin: 0 2px;
}
#decor-actions-name {
    color: #337;
    font-size: 0.8em;
	margin-bottom: 0.15em;
	font-weight: bold;
}
#decor-actions-name:empty {
    display: none;
 }
#decor-actions-author {
	font-size: 0.7em;
	margin-bottom: 5px;
}
#decor-actions .share-decor {
	background-color: #8AD;
	color: #6262EF;
}
#decor-actions .share-decor:hover {
	background-color: #9AF;
	color: #545CB5;
}
.decor-actions-stars {
	padding: 0px 4px;
}
.decor-actions-stars img {
	width: 24px;
	cursor: pointer;
}
#decor-actions .edit-decor {
	background-color: #7E8;
	color: #0A5;
}
#decor-actions .edit-decor:hover {
	background-color: #7F8;
    color: #0B5;
}
#decor-actions .suppr-decor {
	background-color: #F96;
	color: #C24;
}
#decor-actions .suppr-decor:hover {
	background-color: #FB7;
	color: #D35;
}
#decor-actions .collab-decor {
    display: block;
    margin-top: 0.4em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.6em;
    padding: 0.1em 0.5em;
	background-color: #7BF;
	color: #35D;
}
#decor-actions .collab-decor:hover {
	background-color: #69F;
	color: #24C;
}
.decors-list .decor-selected, .decors-list .decor-selected:hover {
	background-color: #93b8f9;
}
#decor-instructions {
    margin-bottom: 10px;
    font-size: 0.8em;
    text-align: left;
}
#decor-instructions .description {
    margin: 1em 0;
}
#decor-instructions ul {
    margin-top: 0.5em;
    padding-left: 1em;
}
#decor-instructions hr {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 1px;
    background-color: #359;
    border: none;
}
#decor-instructions.instructions-unshown {
	display: none;
}
.decor-type-selector button {
    width: 1.2em;
    height: 1.2em;
    background-size: auto 0.8em;
    background-repeat: no-repeat;
    background-position: center;
}
.decor-type-selector #decor-type-selected, .decor-type-selector #decor-type-selected:hover {
    background-color: #7CF;
}
#decor-new-form {
    text-align: left;
}
#decor-new-form h3 {
    text-align: center;
    position: relative;
    top: -0.2em;
}
#decor-new-form button[type="submit"] {
    width: 150px;
}
#decor-edit-form input[type="text"] {
    width: 200px;
}
.decor-editor-form input, .decor-editor-form button {
    font-size: 1em;
}
.decor-editor-form input[type="file"] {
    border: solid 1px #88B;
    background-color: #BFBFCF;
}
.decor-editor-form button {
    cursor: pointer;
    background-color: #69C;
    color: white;
    border-color: #48A;
}
.decor-editor-form button:hover {
    background-color: #669FD9;
    border-color: #59B;
}
.decor-editor-form button[type="submit"] {
    margin-top: 0.2em;
}
#decor-form-next {
    display: none;
}
.decor-model {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    display: inline-flex;
    align-items: center;
    background-color: #EEF;
    padding: 0.25em;
    max-width: 100%;
    overflow-x: auto;
}
.decor-model-label {
    margin-right: 0.3em;
}
.decor-model-value {
    line-height: 0;
}
#decor-extra-model {
    display: none;
    margin-top: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    border-top: solid 1px black;
    font-size: 0.8em;
}
#error {
	background-color: #D43;
	color: #721;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding: 8px 20px;
}
#error a {
	color: #A5444C;
}
#success {
	background-color: #3D4;
	color: #172;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding: 8px 20px;
}
#error a {
	color: #A5444C;
}
.advances-options {
    font-size: 0.9em;
    margin-top: 0.5em;
    color: #a8d4ff;
}
.advances-options a {
    display: inline-block;
    text-decoration: none;
    opacity: 0.7;
    margin-left: 6px;
    position: relative;
    top: 2px;
}
.advances-options a:hover {
    text-decoration: underline;
    opacity: 1;
}
.decor-edit-preview {
    margin-bottom: 10px;
}
.decor-edit-preview a {
    position: relative;
    top: -0.2em;
    font-size: 0.8em;
}
.editor-navigation {
    font-size: 1rem;
}
.decor-preview {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.decor-preview img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.decor-preview img, .decors-list img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
#decor-current-img-preview {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#transparency-form-ctn {
    width: auto;
    max-width: 100%;
    display: inline-block;
    overflow: auto;
    padding-left: 0;
    padding-right: 0;
}
#transparency-form-ctn h3 {
    margin-left: 0.75em;
    margin-right: 0.75em;
}
#transparency-form {
	display: none;
}
.decors-list-container + hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    border-color: #BDE;
}
#select-transparency {
	cursor: crosshair;
    margin-left: 20px;
    margin-right: 20px;
}
#transparency-color-preview {
	display: inline-block;
	width: 60px;
	height: 25px;
	border: solid 1px #BDE;
	position: relative;
	top: 6px;
}
#advanced-option-ctn {
    display: inline-block;
    width: auto;
}
.advanced-option {
	display: inline-block;
	font-size: 0.7em;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px 12px;
	border-radius: 5px;
}
.advanced-option:hover {
	background-color: #93b8f9;
}
.advanced-option .option-bg {
    position: relative;
    width: 150px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	overflow: hidden;
}
.advanced-option.option-map .option-bg {
	background-color: rgb(111,130,239);
}
.advanced-option.option-map .option-bg img:first-child {
	position: absolute;
	left: 35px;
	top: -190px;
}
.advanced-option.option-map .option-bg img:last-child {
	position: absolute;
	left: 64px;
	top: 64px;
	width: 12px;
}
.advanced-option .option-label {
    white-space: nowrap;
}
.decors-bottom {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 60px;
}