body {
	background-color: #55B8FF;
	background-image: url('../images/fond_mountains.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
}
#header_left img, #header_right img {
	height: 2.05vw;
}
@media only screen and (max-width: 800px) {
	body {
		height: 100vh;
		overflow-y: scroll;
	}
	#header_left img, #header_right img {
		height: 2.6vw;
	}
}