@font-face {
    font-family: 'SMK-Timer';
    src: url('smk-timer.ttf');
}
@font-face {
    font-family: 'SMK-Rank';
    src: url('smk-rank.ttf');
}
@font-face {
    font-family: 'NSMBU';
    src: url('nsmbu.ttf');
}
@font-face {
    font-family: 'MuseoModerno';
    src: url('museomoderno-bold.ttf');
}
#options {
    text-align: right;
    display:inline-table;
}
#options strong {
    text-decoration: underline;
}
#options td {
    padding: 4px;
}
#commandes {
    position: relative;
    text-align: center;
    font-size: 9pt;
    padding: 0px 25px !important
}
#commandes-edit {
    position: absolute;
    top: 40%;
    left: 90%;
    left: calc(72% + 35px);
    width: 20px;
    z-index: 1;
    opacity: 0.5;
    cursor: pointer;
}
#commandes-edit.nocommand {
    left: 20px;
}
#commandes-edit:hover {
    opacity: 1;
}
#control-editor-mask {
    position: fixed;
    z-index: 20001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}
.control-editor {
    position: absolute;
    left: 100px;
    bottom: 100px;
    background-color: #444;
    font-weight: normal;
}
.control-tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.control-tabs > div {
    flex: 1;
    background-color: #aaa;
    border: solid 1px #ccc;
    color: #333;
    text-align: center;
    padding: 2px 5px;
    opacity: 0.5;
    cursor: pointer;
}
.control-tabs > div.control-tab-active {
    opacity: 1;
}
.control-tabs > div:hover {
    opacity: 0.9;
}
.control-window {
    color: white;
}
.control-window > div {
    display: none;
}
.control-window > div.control-window-active {
    display: block;
}
.control-editor-grid {
    display: grid;
    grid-template-columns: auto auto;
}
.control-editor-grid > div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.control-label {
    margin-right: 5px;
}
.control-input {
    width: 70px;
    text-align: center;
    overflow: hidden;
}
.control-input:focus {
    background-color: #292f48;
    border-style: inset;
}
.control-reset {
    text-align: center;
    margin-bottom: 5px;
}
.control-reset a {
    color: #CCF;
}
.control-reset a:hover {
    color: #CAA;
}
.control-settings-info {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 5px 0 5px;
    text-align: left;
    color: #CCC;
}
.control-settings > label {
    display: block;
    padding: 2px 10px;
}
.control-settings > .motion-trail-settings {
    margin-bottom: 8px;
    opacity: 0.85;
}
.control-settings > .motion-trail-settings:hover {
    opacity: 1;
}
.control-settings > .motion-trail-settings > label {
    margin-left: 16px;
    display: inline-block;
    font-size: 0.9em;
}
.control-settings label input {
    position: relative;
    top: 1px;
}
.control-settings .control-reset {
    margin-top: 10px;
}
.control-header {
    background-color: #225;
    color: #DDE;
    position: relative;
}
.control-header > div {
    padding: 2px 5px;
    display: inline-block;
}
button.control-close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #900;
    color: #FED;
    border-color: #802;
}
button.control-close:hover {
    background-color: #B00;
    border-color: #A02;
    color: white;
}
button.control-close:active {
    background-color: #A00;
    border-color: #902;
}
#infos0,#infos1 {
    position: absolute;
    z-index: 20001;
    font-weight: bold;
    font-family: arial;
    opacity: 0.8;
    color: #FF9900;
    text-align: center;
}
#scroller {
    display: none;
}
.itemScroller {
    z-index: 19998;
}
#scroller20, #scroller21 {
    z-index: 19996;
}
.itemScroller {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}
.itemScroller > div, .itemScroller > div, .itemScroller > div {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
}
#compteur0,#compteur1 {
    position: absolute;
    z-index: 19999;
    color: #50D0F8;
    font-weight: bold;
    font-family: "SMK-Timer", Arial;
}
#compteur0 > div, #compteur1 > div {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
}
#compteur0 .glow, #compteur1 .glow {
    color: #F8F8F8;
}
#compteur0 .glow > div, #compteur1 .glow > div {
    height: 50%;
    overflow: hidden;
}
.itemWheel {
    background-image: url('../images/items/wheel.png');
    background-size: 100% 100%;
    image-rendering: pixelated;
    text-align: center;
    position: absolute;
    z-index: 19997;
    top: 12px;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#reserve0,#reserve1 {
    z-index: 19996;
}
.itemChamber {
    display: flex;
    overflow: hidden;
}
.itemChamber img {
    align-self: center;
}
#temps0,#temps1 {
    position: absolute;
    z-index: 19999;
    top: 12px;
    color: #F8F8F8;
    font-family: "SMK-Timer", Courier New;
}
#lakitu0,#lakitu1,#drift0,#drift1 {
    visibility: visible;
     display: none;
     position: absolute;
}
#lakitu0,#lakitu1 {
    z-index: 19996;
    background-image:url('../images/lakitutour.png');
    background-repeat:no-repeat;
    background-size:auto 100%;
     background-position: center;
     text-align: center;
}
#lakitu0 div,#lakitu1 div {
    font-weight: normal;
     padding-top: 5%;
     padding-bottom: 5%;
     background-color: black;
     font-family: Courier New;
     color: #EEE;
}
#lakitu0 div small,#lakitu1 div small {
    font-size:0.5em;
}
#drift0,#drift1 {
    z-index: 10001;
}
#challenge-cpts {
    position: absolute;
    color: #EEE;
    font-family: "MuseoModerno", monospace;
    text-shadow: 0.12em 0 0 black, -0.12em 0 0 black, 0 0.12em 0 black, 0 -0.12em 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: right;
    display: grid;
    grid-template-columns: auto auto;
    direction: rtl;
    line-height: 1.25em;
}
#challenge-cpts > div {
    margin-left: 1em;
    text-align: left;
}
#challenge-cpts > div > span:first-child {
    color: white;
}
#challenge-cpts > div > span:last-child {
}
.driftimg {
    position: relative;
}
#infoPlace0,#infoPlace1 {
    display: none;
    position: absolute;
    text-align: right;
    z-index: 19999;
    color: #EEE;
    font-weight: bold;
    font-family: "SMK-Rank", impact;
    opacity: 0.8;
}
.cannotChange {
    cursor: not-allowed !important;
     border: inset 1px maroon !important;
     color: maroon !important;
     background-color: black !important
}
.star {
    width: 25px;
     cursor: pointer
}
#markMsg {
    width: 200px;
     font-weight: bold
}
form[name="modes"] {
    position: absolute;
     left: 10px;
     bottom: 0px;
     top: calc(100% - 130px);
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}
#options-ctn {
    display: inline-block
}
#options-ctn select{
    min-width:75px;
}
#options-ctn select:disabled {
    opacity:0.5;
     color:gray;
}
#vPub {
    display: inline-block;
    margin-top:10px;
    margin-bottom:10px;
}
@media screen and (min-width: 600px) {
    #vPub {
        margin-left: 20px;
    }
}
#maps-list {
    position: absolute;
    visibility: hidden;
}
#maps-list img {
    height:1px;
}
.gamemusic{
    position: absolute;
    left:-1000px;
    top:-1000px;
}
#virtualkeyboard {
    position: absolute;
     left: 50px;
     top: 20px;
     z-index: 1;
     display: none;
     text-align: center
}
#virtualkeyboard button {
    font-size: 30px;
     margin: 10px;
     padding: 2px 10px;
}
#alerte {
    position: absolute;
    left:10%;
    bottom:20%;
    background-color:#800;
    color: #F62;
    border: double 3px red;
    padding: 0 5px 5px 5px;
}
#alerte.alerte-info {
    background-color:#51CC7A;
    color:#060;
    border: double 3px green;
}
#closeAlert {
    text-align: right
}
#closeAlert a {
    color: #F62;
    text-decoration: none;
     font-weight: bold;
}
#closeAlert a:hover {
    color: #F90;
}
.alerte-info #closeAlert a {
    color: #1C702B;
}
.alerte-info #closeAlert a:hover {
    color: #283;
}
.alerte-info a {
    color: #006C51;
}
.alerte-info a:hover {
    color: #086;
}
#confirmSuppr {
    position: absolute;
    left:10%;
    bottom:20%;
    display:none;
    background-color:#420;
    border: double 3px #FC0;
    padding: 0 5px 5px 2px;
}
#confirmSuppr p {
    text-align: center
}
#supprButtons {
    padding:5px;
}
#cSave {
    position: absolute;
     left:10%;
    bottom:20%;
    display:none;
    background-color:#420;
    border: solid 1px #FC0
}
#cSave table td {
    font-size: 20px;
    border: solid 1px #FC0;
     margin: 2px;
     padding: 2px;
}
#cSave a {
    color: white
}
#cPseudo, #cName {
    background-color: #FF9
}
#cPseudo:focus, #cName:focus {
    background-color: #FF6
}
#cSave #cSubmit {
    text-align: center
}
#cSave #cSubmit input {
    font-size: 15px;
    padding: 0 25px
}
@media screen and (min-width: 600px) {
    #shareParams {
        padding: 0 25px !important;
    }
}
#shareParams {
    text-align: center
}
.chatLink {
    color: white
}
p {
    margin: 0;
}
input[type="button"], input[type="submit"], button {
    background-color: #060610;
    border: outset 1px #4D4923;
    color: #FEFF3F;
    font-weight: bold;
    cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: #372F1A;
     border: outset 1px #A9A118;
     color: #E9E85D;
}
input[type="button"]:active, input[type="submit"]:active, button:active {
    border: inset 1px #FF6600;
}
input[type="button"]:focus, input[type="submit"]:focus, button:focus {
    background-color: #55461e;
}
.disablable:disabled {
    opacity: 0.3;
    cursor: default;
}
input[type="button"].disablable:disabled {
    background-color: #060610;
    border: outset 1px #4D4923;
    color: #FEFF3F;
}
input {
    box-sizing: border-box;
}
#dMaps {
    display: none;
     position: absolute;
     top: 400px;
}
.rgt {
    text-align: right;
}
body {
    background-color: black;
	color: #FEFF3F;
    font-weight: bold;
}
body table {
    font-weight: normal;
    box-sizing: content-box;
}
#mariokartcontainer {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
select {
    background-color: black;
     color: white;
     font-weight: bold;
     width: 100%;
     text-align: left;
}
#presentation {
    position: absolute;
     left:0;
     top:0;
     visibility: hidden
}
.mapname {
    position: absolute;
     left: 0;
     font-family: Courier;
     color: white;
     word-wrap: break-word;
     text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.aObjet, .pixelated {
    image-rendering: optimizeSpeed;
     image-rendering: -moz-crisp-edges;
     image-rendering: -o-crisp-edges;
     image-rendering: -webkit-optimize-contrast;
     image-rendering: pixelated;
     image-rendering: optimize-contrast;
     -ms-interpolation-mode: nearest-neighbor;
}
.mirrored {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
}
@-moz-document url-prefix() {
    .mirrored.pixelated, .mirrored .pixelated {
        image-rendering: auto;
    }
  }
.challenge-popup {
     position: absolute;
     z-index: 20200;
     background-color: rgba(230,255,230,0.9);
     color: black;
     text-align: center;
     font-weight: normal;
}
.challenge-popup.challenge-popup-partial {
     background-color: rgba(216,240,255,0.9);
}
.challenge-popup-title {
     display: inline-block;
}
.challenge-popup-title h1 {
     font-family: Verdana;
     color: #C80;
     text-decoration: underline;
}
.challenge-popup-title img {
     opacity: 0.8;
}
.challenge-popup-header {
     color: #005600;
}
.challenge-popup-partial .challenge-popup-header {
     color: #003356;
}
.challenge-popup-partial .challenge-popup-award {
     color: #074;
}
.challenge-popup-disclaimer {
     color: #06C;
}
.challenge-popup-share {
     position: absolute;
}
.challenge-popup-award strong {
     color: #038;
}
.challenge-popup-close {
     position: absolute;
}
.challenge-popup-close a {
     color: #33F;
}
.challenge-popup-reward-ch {
    margin: 5px auto 0 auto;
	position: relative;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
.challenge-popup-reward-ch img {
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-animation: movecp 5s steps(21) infinite normal;
	-moz-animation: movecp 5s steps(21) infinite normal;
	-o-animation: movecp 5s steps(21) infinite normal;
	-ms-animation: movecp 5s steps(21) infinite normal;
	animation: movecp 5s steps(21) infinite normal;
}
.challenge-popup-reward-ch img {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
	-ms-animation-duration: 2s;
	animation-duration: 2s;
}
@-webkit-keyframes movecp {
    from {left:0%;}
    to   {left:-2100%;}
}
@-moz-keyframes movecp {
    from {left:0px;}
    to   {left:-2100%;}
}
@-o-keyframes movecp {
    from {left:0px;}
    to   {left:-2100%;}
}
@-ms-keyframes movecp {
    from {left:0px;}
    to   {left:-2100%;}
}
@keyframes movecp {
    from {left:0px;}
    to   {left:-2100%;}
}
.challenge-rating {
	color: #840;
}
.challenge-rated {
	color: #480;
}
.challenge-publish {
	color: #015;
}
.challenge-rating-stars {
	display: inline-block;
}
.challenge-rating-stars img {
	cursor: pointer;
}
.challenge-rated {
	display: inline-block;
	visibility: hidden;
	font-size: 0.75em;
}
.challenge-publish a {
	color: #069;
}
.clselected-popup {
    position: absolute;
    background-color: rgba(216,240,255,0.9);
    color: #003356;
    padding: 2px 5px;
    border: dashed #074 0.15em;
    border-radius: 0.3em;
}
.clselected-close {
    text-align: right;
    line-height: 0.5em;
    margin-top: 0.3em;
}
.clselected-close a {
    color: #1C702B;
    text-decoration: none;
}
.clselected-ctn {
    display: flex;
    align-items: center;
}
.clselected-ctn > div:first-child {
    font-size: 2em;
    line-height: 1em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    color: #289667;
}
.clselected-ctn > div:last-child {
    text-align: justify;
    max-width: 15em;
    margin-right: 1em;
}
.clselected-ctn strong {
    color: #06C;
}
#mariokartcontainer.fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 20;
}
.game-container {
    position: absolute;
    left: 12px;
    top: 10px;
    overflow: hidden;
}
.noarrow::-webkit-outer-spin-button,
.noarrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.noarrow {
  -moz-appearance: textfield;
}
.online-track-sel td > small {
  font-size: 0.7em;
  margin-right: 0.1em;
  position: relative;
  bottom: 0.1em;
}
form.game-popup {
	position: absolute;
    z-index: 2;
    background-color: black;
    background-color: rgba(0,0,0, 0.85);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
    overflow-y: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
form.game-popup input {
    font-size: 1.5em;
}
form.game-popup .game-popup-body {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}
form.game-popup .game-popup-body > div {
    margin-bottom: 0.25em;
}
form.game-popup .game-popup-body > div > label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    gap: 0.25em;
}