.wait {
	position: absolute;
	text-align: center;
	color: #DDD;
	z-index: 20001;
	visibility: hidden;
    pointer-events: none;
}
#spectatormode {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 20001;
    pointer-events: none;
}
#spectatormode img {
    opacity: 0.8;
}
#spectatormode a {
    background-color: black;
    color: #9cd;
    pointer-events: auto;
}
#spectatormode a:hover {
    color: #7ab;
}
#dMaps {
	z-index: 20002;
}
.online-chat {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    width: 350px;
    height: 90%;
    border: double 4px silver;
}
.online-chat-connecteds {
    border: solid 1px silver;
}
.online-chat-playerlistelt:not(:last-child)::after {
    content: ",\00a0";
    position: relative;
}
.online-chat-spectator {
    position: relative;
    top: 2px;
    margin-right: 0.15em;
    height: 14px;
}
.online-chat-playerlisticon {
    opacity: 0.8;
    margin-left: 0.5em;
    margin-right: 0.15em;
}
.online-chat-playerlisticon img {
    position: relative;
    top: 2px;
    height: 14px;
}
.online-chat-actions {
    margin-bottom: 3px;
}
.online-chat-actions > button {
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.7;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.online-chat-connecteds:hover .online-chat-actions > button:not(:disabled) {
    opacity: 1;
}
.online-chat-actions > button > img {
    height: 16px;
}
.vocal-chat-actions {
    padding: 0 1px;
    margin: 0 8px 0 5px;
    background-color: #073;
    border-radius: 2px;
}
.vocal-chat-actions > button {
    margin: 2px;
}
.vocal-chat-actions > button > img {
    height: 16px;
}
.vocal-chat-loading {
    display: inline-block;
    margin-left: 0.15em;
    margin-right: 0.25em;
}
.vocal-chat-loading img {
    height: 16px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.online-chat-closectn {
    position: absolute;
    right: -2px;
    top: -2px;
    visibility: hidden;
}
.online-chat:hover .online-chat-closectn {
    visibility: visible;
}
.online-chat-closectn > button {
    font-weight: bold;
    display: none;
    padding: 1px 2px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 12px;
    font-family: monospace;
}
.online-chat:not(.online-chat-closed) .online-chat-close, .online-chat.online-chat-closed .online-chat-open {
    display: block;
}
.online-chat-close {
    background-color: #C00;
}
.online-chat-close:hover {
    background-color: #E00;
}
.online-chat-open {
    background-color: #080;
}
.online-chat-open:hover {
    background-color: #0A0;
}
@media (min-width: 850px) {
	.online-chat {
        right: 10px;
        top: 5%;
    }
}
@media (max-width: 849px) {
	.online-chat {
        left: 0px;
        top: 100%;
        width: 98%;
        margin-top: 80px;
	}
}
.online-chat-blockdialog {
    position: absolute;
    left: 85px;
    top: 8%;
    width: 200px;
    border: double 4px silver;
    background-color: #222;
}
.online-chat-blockdialog > h1 {
    font-size: 1.1em;
    margin-top: 24px;
    margin-bottom: 2px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.online-chat-blockdialog > input {
    position: absolute;
    right: 5px;
    top: 5px;
}
.online-chat-blockdialog-members {
    margin: 3px 4px;
}
.online-chat-blockdialog-members > div {
    padding: 2px 5px;
    cursor: pointer;
    margin: 1px;
    background-color: #666;
    color: #F90;
}
.online-chat-blockdialog-members > div[data-blocked="1"] {
    color: red;
    text-decoration: line-through;
}
.online-chat-blockdialog-members > div:hover {
    background-color: #777;
    color: #FC0;
}
.online-chat-messages {
    padding-top: 2px;
    padding-bottom: 2px;
    flex: 1;
    word-wrap: break-word;
    overflow-y: auto;
}
.online-chat-messages p.chatlog {
    color: white;
    padding: 2px;
}
.online-chat-answer {
    display: flex;
    margin: 4px 3px;
}
.online-chat-answer input[type="text"] {
    background-color: #FE7;
    flex: 1;
}
.online-chat.online-chat-closed {
    border: none;
}
.online-chat-closed > *:not(.online-chat-closectn) {
    display: none;
}
.online-chat-playerlistelt {
    display: inline-block;
}
.online-chat-playerlisticon {
    display: inline-block;
}
.online-chat-playerlisticonwrapper {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
}
.online-chat-playerlistvolume {
    position: absolute;
    width: 0;
    height: 0;
    left: 8px;
    top: 8px;
    border-radius: 50%;
    background-color: #679;
    transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s;
}
@media (max-width: 849px) {
    .online-chat.online-chat-closed {
        width: 99%;
        border-top: solid 1px silver;
    }
}
@media (min-width: 850px) {
    .online-chat.online-chat-closed {
        right: 5px;
    }
}