#pro-league {
	height: auto;
}
#pro-league img {
	width: 100%;
	cursor: zoom-in;
}
#pro-league + .link-extra {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 7px;
}
#pro-league + .link-extra a {
	color: #6AF;
}
#pro-league + .link-extra a:hover {
	color: #09F;
}