.avatar {
	margin-left: auto;
	margin-right: auto;
	cursor: default;
}
a .avatar {
	cursor: pointer;
}
a:hover .avatar {
	opacity: 0.85;
}
.avatar-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*background-color: rgba(0,0,255,0.03);*/
}
.avatar-container {
	position: relative;
	display: inline-block;
}
.avatar {
	border-radius: 50%;
}
.avatar-blank {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}
.avatar-edit {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255,255,255, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
}
.avatar-container:hover .avatar-edit {
	opacity: 1;
	transition: ease opacity 0.4s;
}
.preview-avatar {
	position: absolute;
	cursor: zoom-in;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255,255,255, 0.7);
	opacity: 0;
}
.preview-avatar:hover {
	opacity: 1;
	transition: ease opacity 0.4s;
}
.avatar-edit .edit {
    color: #190;
	text-decoration: none;
	font-size: 25px;
}
.avatar-edit .edit:hover {
    color: #3C0;
    cursor: pointer;
}
.avatar-edit .edit input {
	position: absolute;
	left: -1000px;
	top: -1000px;
	opacity: 0;
}
.avatar-edit .suppr {
    color: #910;
	text-decoration: none;
	font-size: 25px;
}
.avatar-edit .suppr:hover {
    color: #C30;
}
.country-ic {
	display: inline-block;
	background-color: rgba(204,204,255,0.5);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.persos-container .country-ic {
	margin: 0 2px 0 1px;
	width: 25px;
	height: 15px;
	position: relative;
	top: 1px;
}
.profile-container {
	width: 100%;
}
.profile-back {
	position: absolute;
	left: 30px;
	bottom: 0;
	color: #F30;
}
.profile-summary, .profile-summary h1 {
	width: 300px;
}
.profile-summary h1 {
	word-wrap: break-word;
}
.last-nick {
	position: relative;
	top: -15px;
	font-size: 0.9em;
	margin: 0 5px;
}
.profile-summary {
	text-align: center;
}
@media screen and (max-width: 880px) {
	.profile-summary {
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 10px;
		border-bottom: solid 1px #833;
	}
	.profile-container {
		position: relative;
		padding-bottom: 40px;
	}
	.profile-summary h1 {
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 880px) {
	.profile-container {
		display: table;
	}
	.profile-summary, .profile-feed {
		display: table-cell;
	}
	.profile-summary {
		position: relative;
		padding-left: 10px;
		padding-right: 15px;
		padding-bottom: 40px;
	}
}
.profile-feed {
	padding-right: 10px;
	text-align: center;
}
.profile-feed .mAuteur {
	display: none;
}
.profile-feed .mHeader {
	min-height: 30px;
}
.profile-feed h3 {
	margin: 10px 0;
}
.profile-feed h2 {
	margin-top: 10px;
	margin-bottom: 6px;
}
.profile-feed h2 em {
	font-weight: normal;
}
.profile-feed .mBody {
	max-height: 100px;
}
.profile-circuits {
	width: 95%;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}
.profile-feed hr {
	margin-top: 20px;
}
.creation-td {
	position: relative;
}
.circuit-td {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.cup-td {
	background-repeat: no-repeat;
	background-position: top left, top right, bottom left, bottom right;
	background-size: 50% 50%;
	background-size: calc(50% + 1px) calc(50% + 1px);
}
.creation-td .circuit-rate {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(255,255,255, 0.6);
	opacity: 0.8;
}
@media screen and (min-width: 880px) and (max-width: 1200px) {
	.creation-td .circuit-rate, .creation-td .circuit-nbcomments, .creation-td > a:hover div.circuit-name {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.creation-td .circuit-rate, .creation-td .circuit-nbcomments, .creation-td > a:hover div.circuit-name {
		display: none;
	}
}
.creation-td:hover .circuit-rate {
	opacity: 1;
}
.circuit-star {
	width: 15px;
	position: relative;
}
.clm-records {
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: double 4px black;
	background-color: #FC0;
	font-weight: bold;
	color: black;
}
.clm-records td {
	border: solid 1px black;
	margin: 2px;
	padding: 5px;
}
.clm-records tr:nth-child(2n) {
	color: #820;
}
.clm-records tr:nth-child(2n+3) {
	background-color: yellow;
	color: #F60;
}
.clm-records div {
	margin-left: auto;
	margin-right: auto;
	width: 24px;
	height: 24px;
	overflow: hidden;
}
.clm-records div img {
	height: 100%;
	position: relative;
	left: -144px;
}
.clm-records tr:nth-child(1) {
	background-color: #F90;
	font-size: 12px;
	padding: 2px;
}
.circuit-star > div {
	position: absolute;
	left: 0;
	top: 1px;
	overflow: hidden;
}
.circuit-name {
	display: none;
	position: absolute;
	left: 10%;
	top: 50%;
	width: 80%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: white;
	color: black;
	opacity: 0.7;
	padding-top: 2px;
	padding-bottom: 2px;
	word-wrap: break-word;
}
.circuit-nbcomments {
	position: absolute;
	left: 0;
	top: 0;
	color: black;
	background-color: rgba(255,255,255, 0.6);
	padding: 2px 5px;
	border-bottom: solid 1px #AAA;
	border-right: solid 1px #AAA;
	border-bottom-right-radius: 3px;
	font-size: 12px;
}
.circuit-preview {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(255,255,255, 0.6);
	padding: 0px 5px;
	border-bottom: solid 1px #AAC;
	border-left: solid 1px #AAC;
	border-bottom-left-radius: 3px;
	cursor: zoom-in;
}
.circuit-preview:hover {
	background-color: rgba(230,230,230, 0.6);
}
.circuit-nbcomments img {
	height: 12px;
	position: relative;
	top: 2px;
}
.circuit-preview img {
	height: 12px;
}
.creation-td > a:hover .circuit-name {
	display: inline-block;
}
.creation-td > a:hover .circuit-preview {
	display: inline-block;
}
.creation-td .circuit-star {
	display: inline-block;
	padding-top: 1px;
}
.creation-td > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.creation-td > a:hover {
	background-color: rgba(0,0,0,0.2);
}
.circuit-comments {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.circuit-comment {
	text-decoration: none;
	text-align: left;
	padding: 10px 10px;
	margin: 10px 5px;
	border-radius: 5px;
	max-height: 100px;
	overflow-y: auto;
}
.circuit-comment:nth-child(2n) {
	background-color: #DDF;
}
.circuit-comment:nth-child(2n):hover {
	background-color: #F8F8FF;
}
.circuit-comment:nth-child(2n+1) {
	background-color: #EEF;
}
.circuit-comment:nth-child(2n+1):hover {
	background-color: #FFF;
}
.circuit-comment {
	display: block;
	background-color: #DDF;
}
.circuit-comment:hover {
	background-color: #DDF;
}
.circuit-comment-msg {
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
}
@media screen and (max-width: 600px) {
	div.circuit-comments {
		max-width: 90vw;
	}
}
.circuit-comment-infos {
	font-size: 0.8em;
}
.circuit-comment-infos img {
	height: 0.9em;
	position: relative;
	top: 0.05em;
}
a.circuit-comment .circuit-comment-msg {
	color: #00A;
}
a.circuit-comment:hover .circuit-comment-msg {
	color: #06F;
}
a.circuit-comment .circuit-comment-infos {
	color: #888;
}
a.circuit-comment:hover .circuit-comment-infos {
	color: #AAA;
}
.comments-list {
	text-align: center;
}
.commentPages {
	width: 590px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #DDF;
}
.commentPages p {
	padding: 2px 5px;
	border: double 4px #06A;
	font-weight: bold;
	color: #003;
}
.commentPages a {
	color: #00A;
	text-decoration: none;
}
.commentPages a:hover {
	color: #06F;
}
.infos-container {
	text-align: left;
}
.infos-container h2, .persos-container h2 {
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 8px;
	text-decoration: underline;
}
.infos-container > div, .persos-container div {
	margin: 3px 2px;
	font-size: 1em;
}
.infos-container strong, .persos-container strong {
	color: #FF5118;
}
.infos-container .player-league img {
	height: 14px;
	margin-right: 5px;
	position: relative;
	top: 1px;
}
.infos-container .player-rank > img {
	height: 14px;
	margin-right: 5px;
	position: relative;
	top: 1px;
}
.infos-container .player-rank > span {
	display: inline-block;
}
.infos-container .player-rank > span > img {
	width: 65%;
	width: calc(40% + 7px);
	transform: translateY(10%);
	-webkit-transform: translateY(10%);
	-moz-transform: translateY(10%);
	-o-transform: translateY(10%);
	-ms-transform: translateY(10%);
	transform: translate(calc(100% - 14px),10%);
}
.profile-summary sup a {
	color: #0C0;
	text-decoration: none;
}
.profile-summary sup a:hover {
	color: #090;
	text-decoration: none;
}
.persos-container .no-persos {
	display: inline-block;
	margin-left: 10%;
	margin-bottom: 10px;
}
.persos-container .description-container {
	background-color: #EEF;
	border-radius: 5px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
}
.persos-container .description-container strong {
	color: black;
}
.persos-container .description-container img[src*="images/smileys/smiley"] {
	height: 14px;
}
.persos-container .description-container img, .persos-container .description-container iframe {
	max-width: 100%;
}
.persos-container {
	text-align: left;
}
.persos-container h3 {
	margin: 0px 10px;
	font-size: 0.9em;
}
.persos-container .profile-description {
	background-color: #F6F6FF;
	font-size: 14px;
	padding: 2px 5px;
	border-radius: 2px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.persos-container ul {
	list-style-image: url(../images/bullet.png);
}
.no-underline {
	text-decoration: none !important;
}
.no-underline a {
	color: #0C0;
}
.no-underline a:hover {
	color: #090;
}
.player-followers img {
	height: 14px;
	margin-right: 6px;
}
.profile-summary .all-follows {
	color: #0C0;
	text-decoration: none;
	margin-left: 2px;
	font-size: 0.95em;
}
.profile-summary .all-follows:hover {
	color: #090;
	text-decoration: none;
}
.follow-user {
	display: inline-block;
	background-color: #0C0;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	top: -1px;
	font-size: 12px;
	padding: 2px 5px;
	margin-left: 2px;
	background-color: #0C0;
}
.follow-user:hover {
	background-color: #080;
	color: white;
}
.follow-user.followed {
	background-color: #C90;
}
.follow-user.followed:hover {
	background-color: #960;
	color: white;
}
.follow-user span {
	font-size: 12px;
	display: inline-block;
	color: #A6E5BF;
	padding: 0px 3px 0px 0px;
	border-radius: 50%;
}
.follow-user span:hover {
	color: #A6E5BF;
}
.follow-user.followed span {
	color: #E5A6BF;
}
.follow-user.followed span:hover {
	color: #E5A6BF;
}
.following-topics {
	margin-left: auto;
	margin-right: auto;
}
.following-topics h2 {
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
	margin: 0;
	margin-right: 35px;
	padding: 2px 0px 1px 3px;
	color: #060;
	word-wrap: break-word;
}
.following-topics h3 {
	font-weight: normal;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	color: #676;
	padding: 0px 0px 2px 5px;
}
.following-topics a {
	width: 200px;
	position: relative;
	padding: 10px 5px;
	margin: 10px 5px;
	display: inline-block;
	text-decoration: none;
	text-align: left;
}
.following-topics a:hover h2 {
	color: #0A0;
}
.following-topics a:hover h3 {
	color: #898;
}
.following-topics a:nth-child(2n) {
	background-color: #DFD;
}
.following-topics a:nth-child(2n):hover {
	background-color: #F8FFF8;
}
.following-topics a:nth-child(2n+1) {
	background-color: #EFE;
}
.following-topics a:nth-child(2n+1):hover {
	background-color: #FFF;
}
.following-topics a:nth-child(1) {
	border-top: none;
}
.published-news {
	margin-left: auto;
	margin-right: auto;
}
.published-news h2 {
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
	margin: 0;
	margin-right: 35px;
	padding: 2px 0px 1px 3px;
	color: #016;
	word-wrap: break-word;
}
.published-news h3 {
	font-weight: normal;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	color: #677;
	padding: 0px 0px 2px 5px;
}
.published-news a {
	width: 200px;
	position: relative;
	padding: 10px 5px;
	margin: 10px 5px;
	display: inline-block;
	text-decoration: none;
	text-align: left;
}
.published-news a:hover h2 {
	color: #03A;
}
.published-news a:hover h3 {
	color: #899;
}
.published-news a:nth-child(2n) {
	background-color: #CCE2FA;
}
.published-news a:nth-child(2n):hover {
	background-color: #E9F8FF;
}
.published-news a:nth-child(2n+1) {
	background-color: #E3F9FF;
}
.published-news a:nth-child(2n+1):hover {
	background-color: #F6FFFF;
}
.published-news a:nth-child(1) {
	border-top: none;
}
.quote1, .spoiler1, .profile-description .tr-msgs {
	background-color: rgba(178,192,230, 0.6);
}
.profile-description .spoiler1, .profile-description .quote1 {
	font-size: 0.85em;
}
.challenges-item-circuit {
	width: 60px;
	height: 60px;
}
.challenges-item-rating {
	margin-bottom: 2px;
}
.profile-description .tr-tabs > div {
	background-color: rgba(167,172,182, 0.6);
	border-top: solid 1px rgba(15,99,142, 0.4);
	border-right: solid 1px rgba(15,99,142, 0.4);
}
.profile-description .tr-tabs > div:hover {
	background-color: rgba(167,172,198, 0.3);
}
.profile-description .tr-tabs > div:first-child {
	border-left: solid 1px rgba(15,99,142, 0.4);
}
.profile-description .tr-ctn-en .tr-tab-en, .profile-description .tr-ctn-fr .tr-tab-fr {
	background-color: rgba(128,192,255, 0.3);
}
.profile-description .tr-msgs {
	border: solid 1px rgba(15,99,142, 0.4);
}
