.splide {
	margin-bottom: 35px;
	visibility: visible;
	background-color: black;
}
.splide__slide__wrapper {
	visibility: hidden;
	position: relative;
	width: 100%;
	height: 332px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 30px;
}
.splide.is-initialized .splide__slide__wrapper, .splide.is-rendered .splide__slide__wrapper {
	visibility: visible;
}
.splide__slide__wrapper.top {
	align-items: flex-start;
}
.splide__slide__wrapper > img {
	width: 135%;
}
.splide__slide__wrapper > img:not(.smooth) {
	image-rendering: pixelated;
}
.splide__slide__wrapper > div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	opacity: 0.75;
	color: white;
	padding: 10px 15px 35px 15px;
}
.splide__slide__wrapper > div > h3 {
	margin: 2px 0;
	color: #fff;
    font: bold 20px Helvetica, Arial, sans-serif;
}
.splide__slide__wrapper > div > div > strong {
	color: #ff8;
}
.splide__arrow_custom {
	top: calc(50% - 20px);
}
.splide__pagination__page_custom {
	border: solid 1px #cc9;
	width: 12px;
	height: 12px;
	margin-left: 8px;
	margin-right: 8px;
}
@media screen and (max-width: 500px) {
	.splide__pagination_custom {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 2px;
	}
	.splide__slide__wrapper > div {
		padding-bottom: 38px;
	}
}
.splide__spinner_custom {
	top: -34px;
}