.splide {
	margin-bottom: 35px;
	visibility: visible;
	background-color: black;
}
.splide__slide {
	visibility: hidden;
	width: 100%;
	height: 332px;
	padding-bottom: 30px;
}
.splide.is-initialized .splide__slide, .splide.is-rendered .splide__slide {
	visibility: visible;
}
.splide__slide__container {
	position: relative;
	width: 100%;
	height: 100%;
}
.splide__banner {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.splide__banner > img {
	position: absolute;
    left: 0;
    top: 50%;
	width: 100%;
    transform: translateY(-50%);
}
.splide__banner > img.top {
	top: 0;
	transform: none;
}
@media screen and (max-width: 600px) {
	.splide__banner > img {
		width: 135%;
		left: -17.5%;
	}
	.splide__banner > img:not(.center) {
		top: 0;
		transform: none;
	}
}
.splide__banner > img:not(.smooth) {
	image-rendering: pixelated;
}
.splide__description {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	opacity: 0.75;
	color: white;
	padding: 10px 15px 5px 15px;
}
.splide__description > h3 {
	margin: 2px 0;
	color: #fff;
    font: bold 20px Helvetica, Arial, sans-serif;
}
.splide__description strong {
	color: #ff8;
}
.splide__arrow_custom {
	top: calc(50% - 20px);
}
.splide__pagination__page_custom {
	border: solid 1px #cc9;
	width: 12px;
	height: 12px;
	margin-left: 8px;
	margin-right: 8px;
}
@media screen and (max-width: 500px) {
	.splide__pagination_custom {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 2px;
	}
	.splide__description {
		padding-bottom: 8px;
	}
}
.splide__spinner_custom {
	top: -5px;
}