#tri-nations {
	border: solid 2px #ccf;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 0.9em;
	height: auto;
	overflow: hidden;
}
#tri-nations table {
	width: 100%;
	border-collapse: collapse;
	color: white;
}
#tri-nations th {
	padding: 5px 0;
}
#tri-nations th, #tri-nations td {
	text-align: center;
	border: solid 1px white;
}
#tri-nations tr:nth-child(2), #tri-nations tr:nth-child(3), #tri-nations tr:nth-child(4) {
	font-weight: bold;
}
#tri-nations tr:first-child {
	background-color: #0F2E5F;
	font-size: 0.9em;
}
#tri-nations th {
	padding: 0.25em 0.5em;
}
#tri-nations td img {
	width: 30px;
}
#tri-nations td > div {
	margin: 0.25em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
#tri-nations tr:nth-child(2n+2) {
	background-color: #3D4351;
}
#tri-nations tr:nth-child(2n+3) {
	background-color: #23262E;
}
#tri-nations tr a {
	text-decoration: none;
	display: block;
	padding: 8px 0;
}
#tri-nations tr a:hover {
	opacity: 0.6;
}
#tri-nations + .link-extra {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 7px;
}
#tri-nations + .link-extra a {
	color: #6AF;
}
#tri-nations + .link-extra a:hover {
	color: #09F;
}
@media screen and (min-width: 800px) {
	@media (max-width: 1400px) {
		.pl-l {
			display: none;
		}
	}
	@media (max-width: 1500px) {
		.pl-xl {
			display: none;
		}
	}
}
@media screen and (max-width: 450px) {
	.pl-l {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	.pl-xl {
		display: none;
	}
}