* {
	box-sizing: border-box;
}
body {
	background-color: #E8964C;
	background: url('../../images/main/wallpaper_mountains.jpg'), linear-gradient(0deg, #12021D 0%, #12021D 40%, #E8964C 70%, #AF663D 100%);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	background-position: center -30vw, center;
	background-repeat: no-repeat;
	margin: 5px 0;
	padding: 0;
	font-family: Helvetica, arial, sans-serif;
}
#header_left img, #header_right img {
	height: 2.05vw;
}
header {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
}
header table {
	width: 100%;
	border-collapse: collapse;
}
header table td {
	padding: 0;
	vertical-align: bottom;
}
#header_left, #header_right {
	width: 3%;
}
#header_center {
	width: 94%;
}
#header_center img {
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border: none;
}
header img {
	width: 100%;
	vertical-align: bottom;
}
nav {
  position: relative;
  text-align: center;
  background: -webkit-linear-gradient(#c00, #500); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#c00, #500); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#c00, #500); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#c00, #500); /* Standard syntax */
}
#menu_center a {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
#menu_center a:hover {
  color: #f0c92e;
}
#menu_left {
  left: 0px;
  top: 7px;
	padding-left: 10px;
}
#menu_right {
  right: -2px;
  top: 3px;
	padding-right: 10px;
}
#menu_left,
#menu_right {
  position: absolute;
}
#menu_left a,
#menu_right a {
  margin: 0;
}
#menu_left a:first-child {
  margin-right: 5px;
}
#thispage {
  background-color: #f60;
  color: white;
}
#chosen {
  border: solid 1px #fc0;
  height: 20px;
  vertical-align: middle;
}
#toChoose {
  border: solid 1px #300;
  height: 20px;
  vertical-align: middle;
}
#notifs-bubble {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: auto 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}
#notifs-bubble.notifs {
  background-color: #f60;
  background-image: url("../../images/icons/notifications.png");
}
#notifs-bubble.notifs:hover {
  background-color: #f90;
}
#notifs-bubble.no-notifs {
  background-color: #c96;
  background-image: url("../../images/icons/no-notifications.png");
}
#notifs-bubble.no-notifs:hover {
  background-color: #c19b76;
}
#notifs-nb-alert {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background-color: rgba(255, 51, 51, 0.8);
  color: white;
  font-weight: bold;
  padding: 1px 4px;
  font-size: 12px;
  border-radius: 5px;
}
.no-notifs #notifs-nb-alert,
.no-notifs #nb-notifs,
.no-notifs #notifs-list,
.no-notifs #notifs-options,
.notifs #no-notif {
  display: none;
}
.notifs:hover #notifs-nb-alert {
  background-color: rgba(255, 51, 51, 1);
}
.notifs-container {
  width: 0px;
  max-height: 0px;
  transition: max-height 0.3s ease-out, width 0s linear 0.3s;
  overflow: hidden;
  position: absolute;
  z-index: 30;
  right: -8px;
  top: 0px;
  padding-top: 33px;
}
#notifs-list {
  background-color: #ddf;
  border-left: solid 1px #999;
  border-bottom: solid 1px #999;
  max-height: 200px;
  overflow-y: scroll;
}
.notif-container {
  display: block;
  width: 100%;
  color: #008;
  text-decoration: none;
  height: 60px;
  overflow: hidden;
  padding: 2px 5px;
}
#notifs-options input {
  width: 100%;
  padding: 5px 0px;
  font-weight: bold;
  background-color: #ccf;
  color: #66f;
  cursor: pointer;
}
#notifs-options input:hover {
  background-color: #ddf;
  color: #99f;
}
#notifs-options input:active {
  background-color: #eef;
  color: #aaf;
}
.notif-container:hover {
  background-color: #eef;
}
.notif-container:not(:last-child) {
  border-bottom: solid 1px #aaa;
}
.notif-options {
  text-align: right;
}
.notif-value {
  font-size: 0.8em;
  text-align: left;
  padding: 0px 2px;
}
#no-notif {
  position: relative;
  background-color: #eef;
  padding: 10px 0px;
  text-align: center;
  font-style: italic;
  color: #006;
  border-left: solid 1px #999;
  border-bottom: solid 1px #999;
}
#nb-notifs {
  position: relative;
  background-color: #eef;
  font-size: 1.2em;
  color: navy;
  font-family: Courier New;
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: solid 1px #99c;
  border-left: solid 1px #99c;
}
.close-notif {
  color: #d03;
}
.close-notif:hover {
  color: #f00;
}
#no-notif a,
#nb-notifs a {
  position: absolute;
  right: 2px;
  bottom: -1px;
  width: auto;
  opacity: 0.6;
  padding: 0;
}
#no-notif a:hover,
#nb-notifs a:hover {
  opacity: 0.8 !important;
}
#no-notif img,
#nb-notifs img {
  width: 13px;
  border: none;
}
#notifs-bubble:hover .notifs-container {
  width: 350px;
  max-height: 300px;
  transition: max-height 0.4s ease-in;
}
header, nav, main, footer {
	width: 75%;
  margin-left: auto;
  margin-right: auto;
}
main {
	display: block;
	background-color: white;
	padding: 10px;
}
#relief_left, #footer_left {
	left: -20px;
}
#relief_right, #footer_right {
	right: -20px;
}

@media screen and (min-width: 800px) {
  header div {
    font-size: 500%;
  }
  #left_section {
    padding-right: 2%;
    width: 63%;
    text-align: justify;
  }
  #right_section {
    width: 34%;
  }
  nav a {
    margin: 5px 10px;
    padding: 5px 0px;
    width: 80px;
  }
  .fp-thumbnail {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .pub_section.pub_mobile_only {
    display: none;
  }
}
#relief_bottom, #footer_bottom {
	position: relative;
	width: 100%;
}
#relief_left, #relief_right, #footer_left, #footer_right {
	position: absolute;
	width: 20px;
}
#relief_left, #relief_right {
	top: -20px;
	z-index: -1;
}
#footer_left, #footer_right, #footer_center {
	height: 40px;
	background-image: url('../../images/main/footer/bottom.png');
}
#footer_left {
	background-position: right;
}
#footer_center {
	background-position: center;
	color: white;
	width: 100%;
	font-size: 90%;
	text-align: center;
}
#footer_right {
	background-position: left;
}
footer a {
	color: white;
}
@media screen and (max-width: 800px) {
	body {
		height: 100vh;
		overflow-y: scroll;
		background-color: #E8964C;
		background: url('../../images/main/wallpaper_mountains.jpg'), linear-gradient(0deg, #12021D 0%, #12021D 60%, #E8964C 70%, #AF663D 100%);
		background-size: 200vw auto, auto;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center -65vw, center;
	}
	#header_left img, #header_right img {
		height: 2.6vw;
	}
  header div {
    font-size: 250%;
  }
  nav a {
    padding: 5px 0px;
    margin: 5px 0px;
    width: 20%;
  }
  #menu_left {
    padding-left: 5px;
  }
  #menu_left span {
    display: none;
  }
  #menu_right {
    padding-right: 5px;
  }
  #left_section,
  #right_section {
    width: 100%;
  }
  #right_section {
    margin-top: 15px;
    padding-top: 35px;
    border-top: solid 1px black;
  }
  #left_section .pub_section {
    display: none;
  }
  #right_section .pub_section {
    position: relative;
    top: -9px;
  }
  header,
  nav,
  main,
  footer {
    width: 95%;
  }
  #relief_left,
  #footer_left {
    left: -6px;
  }
  #relief_right,
  #footer_right {
    right: -6px;
  }
  .fp-thumbnail {
    -webkit-background-size: 135%;
    -moz-background-size: 135%;
    -o-background-size: 135%;
    background-size: 135%;
  }
  #developer {
    display: none;
  }
}